.background {
    min-height: 670px;
    width: 100%;
    object-fit: cover;
}

.game-snippet {
    margin-top: 60px;
    padding: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    max-height: 350px;
}

.game-snippet:first-of-type {
  margin-top: 0;
}

.game-snippet .game-snippet__text {
  margin-bottom: 20px;
  max-width: 500px;
}

.game-snippet__text .game-snippet__text__header {
  margin-bottom: 20px;
}

.game-snippet__screenshot {
  object-fit: contain;
  width: 100%;
  height: 50%;
  max-width: 500px;
  max-height: 275px;
}

.game-snippet--flipped {
  flex-direction: row-reverse;
}

.main .download-button {
  margin-top: 100px;
  margin-bottom: 30px;
}

.download-button {
  padding: 32px 54px;
  background-color: orange;
  text-align: center;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.main .creator-profile {
  margin: 0px 20px 60px 20px;
}

.main .creator-profile:last-of-type {
  margin-bottom: 0;
}

.creator-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.creator-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
}

.creator-profile * {
  margin-bottom: 20px;
}

.creator-profile__picture {
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: contain;
}

.creator-profile__description {
  max-width: 300px;
}