.concept-art-piece {
    width: 100%;
    margin-bottom: 40px;
}
  
.preview-window {
    position: absolute;
    width: 100vw;
    top: 0;
    overflow: auto;
}
  
.preview-window img {
    max-height: 100vh;
}
